/* Olam Group uses GT-Walsheim font (self-hosted) */

/* Since the actual font files are proprietary/licensed, we reference
   the source site's font files and use Arial as local fallback */

@font-face {
  font-family: GT-Walsheim-Regular;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://www.olamgroup.com/etc.clientlibs/global-olamcorp/clientlibs/clientlib-all/resources/fonts/gt/GT-Walsheim-Regular.woff2') format('woff2'),
       url('https://www.olamgroup.com/etc.clientlibs/global-olamcorp/clientlibs/clientlib-all/resources/fonts/gt/GT-Walsheim-Regular.woff') format('woff');
}

@font-face {
  font-family: GT-Walsheim-Regular;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://www.olamgroup.com/etc.clientlibs/global-olamcorp/clientlibs/clientlib-all/resources/fonts/gt/GT-Walsheim-Bold.woff2') format('woff2'),
       url('https://www.olamgroup.com/etc.clientlibs/global-olamcorp/clientlibs/clientlib-all/resources/fonts/gt/GT-Walsheim-Bold.woff') format('woff');
}
